<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
          html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
        </style>
        
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4C4lJDoHHkmFOqhElcI0o-Ooy2rzL070"></script>
        
        <script type="text/javascript">
            
            var geocoder = null;
            var map = null;
            var map_container = null;
        
            function init() {
                
                var opts = {
                    //center: { lat: 40.267194, lng: -86.134902 },
                    zoom: 8,
                    mapTypeId: google.maps.MapTypeId.TERRAIN,
                    panControl: false,
                    zoomControl: false,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    overviewMapControl: false,
                    styles: [
                        {
                          stylers: [
                            { visibility: "on" }
                          ]
                        },{
                          featureType: "road",
                          elementType: "geometry",
                          stylers: [
                            { visibility: "off" }
                          ]
                        },
                        {
                          featureType: "landscape",
                          elementType: "geometry",
                          stylers: [
                            { visibility: "off" }
                          ]
                        }
                      ]

                };
                
                map_container = document.getElementById('map-canvas');
                
                //should be passed or fetch element
                map = new google.maps.Map( map_container, opts );
                
                geocoder = new google.maps.Geocoder();
                
                //set the center and extend bounds to fit
                geocoder.geocode( { address: "Indiana, US" }, function( results, state ) {
                    
                    if ( 0 < results.length) {
                        
                        var latlng = results[ 0 ].geometry.location;
                        
                        //map.setCenter( latlng );
                        
                        var bounds = new google.maps.LatLngBounds();
                	    bounds.extend( results[ 0 ].geometry.bounds.getNorthEast() );
                	    bounds.extend( results[ 0 ].geometry.bounds.getSouthWest() );
                	    bounds.extend( results[ 0 ].geometry.location );
                	    map.fitBounds( bounds );
                	    
                	    var counties = new google.maps.FusionTablesLayer( {
                                query: {
                                    select: 'geometry',
                                    from: '1SaA_F6VEjAgMnbTSe1awm2lmN7ZAXERgwCMFbA'
                                },
                                styles: [
                                    {
                                        polygonOptions: {
                                            fillColor: "#FFFFFF",
                                            fillOpacity: 0.0
                                        },
                                        polylineOptions: {
                                            strokeColor: "#CCCCCC",
                                            strokeWeight: 1
                                        }
                                    }
                                ]
                        } );
                        
                        //set the map to display the layer on
                        counties.setMap( map );
                        
                        //add a listener to the counties layer for the click
                        google.maps.event.addListener( counties, 'click', function( evnt ) {
                            
                            console.log( arguments );
                            //document.location.href = '/' + evnt.row[ 'County Name' ].value
                            //console.log( '/name=' + evnt.row[ 'County Name' ].value );
                            console.log( '/?lat=' + evnt.latLng.B + '&lng=' + evnt.latLng.k );
                            
                            //evnt.stop();
                            
                        } );
                        
                        /*
google.maps.event.addDomListener( map_container, 'click', function( me ){
                            console.log( arguments );
                            me.preventDefault();
                            me.stopPropagation()
                        } );
*/
                    }
                    
                    //console.log( arguments );
                    
                } );

                
                
                
                
                
            }
            
            google.maps.event.addDomListener( window, 'load', init );

        </script>
        
      </head>
      <body>
    <div id="map-canvas"></div>
    </body>
</html>